# Docker Compose Configuration
COMPOSE_PROJECT_NAME=

# Airflow Configuration
AIRFLOW_UID=
AIRFLOW_PROJ_DIR=.
_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=

# PostgreSQL Configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# dbt Configuration
DBT_PROFILES_DIR=
DBT_PROJECT_DIR=

# S3 Data Source
S3_BUCKET=
S3_KEY=
